body {
  font-family: helvetica;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 80%;
}

.header {
  background-color: #743eed;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  text-align: center;
  color: white;
}

.favorites {
  background-color: #f3ecfd;
}
